@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Jost", sans-serif;
    color:#1873E7;
    display: grid;
    grid-template-rows: auto 130px;

}

header{
    width:100%;

   text-align: center;
   margin-top: 0px;
   position: fixed;
   top: 0px;
    left: 0px;
    border-bottom: 2px;
    border-color: #1873E7;
    background-color: white;
  
}

hr{
    border-color:#1873E7;
    border-style: solid;
    border-width: 0.5px;
}


.content{
   
    margin-bottom: 20px;
    


    

}

#logo{
    border: 5px solid #1873E7;
    padding-left: 7px;
    padding-right: 7px;

    
}

#logo:hover{
    text-decoration: none;
}

nav{
    position: top;
    text-align: center;
    padding: 20px;
    margin-top: 50%;


   
}

nav ul{
    list-style: none;
}

main{
    position: bottom;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 45px;
  overflow-y: auto;
    height: 100vh;
}
  

footer{
    text-align: center;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
}

a:visited{
    color: #1873E7;

}

a:hover{
text-decoration: underline;
}


@media (min-width: 400px) {
    
    .content{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    main{
    margin-right: 80px;
    }

}



